<section class="about" id="about">
  <div class="about-img">
    <img src="../../assets/pic2.png" alt="image" />
  </div>
  <!-- animation text -->

  <!-- animated text end here -->
  <div class="about-text">
    <h2 class="about-Heading">About <span class="about-Heading">Me</span></h2>
    <h4 class="about-H4">Creative Frontend Developer</h4>
    <p class="tw-about">
      Ambitious Web Developer eager to contribute developed knowledge in
      Web-developement role. Detailed understanding of complex, up-to-date
      programming languages and considerations. Innovative approach to
      actualizing organizational marketing plans. Resourceful navigation of
      intricate factors governing web planning, security. Proactive individual
      with strengths in communication and collaboration. Adaptable and driven
      with strong work ethic and ability to thrive in team-based or individually
      motivated settings.
    </p>
    <div class="btn" (click)="downloadCV()">Download CV</div>
  </div>
</section>
