<section class="portfolio" id="portfolio">
  <div class="main-text">
    <p>Portfolio</p>
    <h2 class="MyserviceHeading">
      <span class="MyserviceHeading">Latest </span>Projects
    </h2>
  </div>

  <div class="portfolio-content">
    <div class="row">
      <img src="../../assets/p1.PNG" alt="img1" />
      <div class="layer">
        <h5>Fitness Tracker</h5>
        <p>I Created this project by using Angular Material Component.</p>
        <a href="https://ecommerce-bfe17.web.app/home" target="_blank"
          ><img
            src="../../assets/external-link.png"
            class="externalLink"
            alt="link-2"
        /></a>
      </div>
    </div>

    <div class="row">
      <img src="../../assets/p2.PNG" alt="img-2" />
      <div class="layer">
        <h5>Fitness Tracker</h5>
        <p>I Created this project by using Angular Material Component.</p>
        <a href="https://ng-fitness-app-bd722.web.app/training" target="_blank"
          ><img
            src="../../assets/external-link.png"
            class="externalLink"
            alt="link-2"
        /></a>
      </div>
    </div>

    <div class="row">
      <img src="../../assets/p3.PNG" alt="img3" />
      <div class="layer">
        <h5>Hotel Template</h5>
        <p>This Template is design by using Angular and bootstrap.</p>
        <a href="https://hotel-template-71921.web.app" target="_blank"
          ><img
            src="../../assets/external-link.png"
            class="externalLink"
            alt="link-3"
        /></a>
      </div>
    </div>

    <div class="row">
      <img src="../../assets/p4.PNG" alt="img4" />
      <div class="layer">
        <h5>Recipe Book</h5>
        <p>
          In This Project I used Angular as frontend and firebase as a backend.
        </p>
        <a href="https://ng-course-recipe-book-dfe82.web.app" target="_blank"
          ><img
            src="../../assets/external-link.png"
            class="externalLink"
            alt="link-4"
        /></a>
      </div>
    </div>

    <div class="row">
      <img src="../../assets/p5.PNG" alt="img5" />
      <div class="layer">
        <h5>MusicApp Landing Page</h5>
        <p>Simple Music app Landing page with tailwind CSS.</p>
        <a href="https://music-df113.web.app/" target="_blank"
          ><img
            src="../../assets/external-link.png"
            class="externalLink"
            alt="link-5"
        /></a>
      </div>
    </div>
  </div>
</section>
