<section class="services" id="services">
  <div class="main-text">
    <p id="expertPara">What i am Expert In</p>
    <h2 class="MyserviceHeading" id="Service-h2">
      <span class="MyserviceHeading">My </span>Services
    </h2>
  </div>

  <div class="services-content">
    <div class="box" id="web-dev">
      <div class="s-icons">
        <img
          src="../../assets/programming.png"
          class="ser-icon"
          alt="programing"
        />
      </div>
      <h3>Angular Services</h3>
      <p>
        With expertise in Angular, I offer cutting-edge web development
        solutions that are both visually stunning and highly functional. Whether
        you need a single-page application or complex enterprise solution, I am
        equipped to deliver exceptional user experiences with seamless
        navigation and responsive designs. Let me transform your ideas into
        dynamic and interactive web applications that will captivate your users.
        Let collaborate to create digital experience and sets you apart from the
        competition.
      </p>
      <a
        class="read"
        (click)="toContact()"
        routerLink="contact"
        routerLinkActive="active"
        >Reach Me</a
      >
    </div>

    <div class="box">
      <div class="s-icons">
        <img
          src="../../assets/user-interface.png"
          class="ser-icon"
          alt="programing"
        />
      </div>
      <h3>ASP.NET Core Services</h3>
      <p>
        As an ASP.NET Core developer, I provide robust and scalable web
        solutions tailored to meet your specific business needs. Leveraging the
        power of Microsoft's advanced technology stack, I build secure and
        high-performance applications that optimize productivity and efficiency.
        From e-commerce platforms to enterprise software, my expertise in
        ASP.NET Core ensures seamless integration, intuitive interfaces, and
        reliable performance to drive your business forward.
      </p>
      <a class="read" routerLink="contact" routerLinkActive="active"
        >Reach Me</a
      >
    </div>

    <div class="box">
      <div class="s-icons">
        <img src="../../assets/coding.png" class="ser-icon" alt="programing" />
      </div>
      <h3>MEAN Stack Services</h3>
      <p>
        Unlock the full potential of your web applications with my expertise as
        a MEAN stack developer. With proficiency in MongoDB, Express.js,
        Angular, and Node.js, I create dynamic and feature-rich web solutions
        that offer exceptional speed and flexibility. From real-time chat
        applications to data-driven web portals, I bring together the best of
        JavaScript-based technologies to build scalable and interactive
        applications that enhance user engagement and drive business growth.
      </p>
      <a class="read" routerLink="contact" routerLinkActive="active"
        >Reach Me</a
      >
    </div>
  </div>
</section>
